@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/functions";

.root {
  font-family: "Inter Medium", sans-serif;
}

.contained {
  background-color: $app-background;
  border-radius: rem(6);
  display: flex;
  padding: rem(16);
  align-items: center;
  color: $color-white;
}

.text {
  font-size: rem(16);
  color: $app-background;
}