@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/functions";

.root {
  background-color: $color-white;
  border: rem(1) solid $color-border;
  border-radius: rem(8);
  padding: rem(8);
  position: absolute;
  bottom: 0;
  left: rem(32);
  right: rem(32);
  display: flex;
}

.buttonText {
  margin-left: rem(12);
  white-space: nowrap;
}