@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/functions";

.root {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  margin-bottom: rem(24);
}

.iconContainer {
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  border: rem(1) solid $color-white;
  margin-right: rem(12)
}

.replay {
  margin-left: rem(60);
  position: relative;

  &:nth-child(2){
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: rem(24);
      height: rem(48);
      right: rem(12);
      left: rem(-36);
      border-bottom: rem(2) solid $color-border;
      border-left: rem(2) solid $color-border;
      border-bottom-left-radius:  rem(4);
      overflow: hidden;
      transform: translateY(-50%);
    }
  }

  &:last-child {
    > div {
    margin-bottom: unset
    }
  }
}
.textContainer {
  background-color: $color-white;
  border-radius: rem(8);
  border: rem(1) solid $color-border;
  padding: rem(24);
}

.authorName {
  color: $color-text-primary;
  font-family: "Inter SemiBold", sans-serif;
}

.text {
  color: $color-text-secondary;
  margin-top: rem(12);
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  white-space: pre;
}

.replayContainer {
  display: flex;
  margin-top: rem(12);
  align-items: center;
}

.chatTime {
  color: $color-text-secondary;
  font-size: rem(16);
}

.dot {
  height: rem(2);
  width: rem(2);
  border-radius: 50%;
  background-color: $color-text-secondary;
  margin: 0 rem(8);
}