@import "src/styles/abstracts/colors";
@import "src/styles/abstracts/functions";

.root {
  border-radius: rem(8);
  overflow: hidden;
  position: relative;
}

.content {
  width: 100%;
  min-width: rem(1032);
  height: auto;
  max-height: rem(864);
  background-color: $color-chat-background;
  padding: 0 rem(32) rem(32) rem(32);
  overflow-y: auto;

  @media only screen and (max-width: 1034px) {
    min-width: unset;
  }
}

.date {
  font-size: rem(13);
  color: $color-text-secondary;
  display: flex;
  justify-content: center;
  margin: rem(42) 0;
  font-family: "Inter Medium", sans-serif;
}
