* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 10px;
}

html {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: unset;
  cursor: pointer;
}